<!-- Cadastro Sabor -->

<div class="tab-content row">
	<div class="col-sm-4">
		<div class="mt-20 mb-20">
			<form>
				<div class="form-group">
					<label for="codigo">Sabor</label>
					<input type="text" class="form-control" ng-model="saborCtrl.sabor.description" id="sabor" placeholder="Sabor">
				</div>
				<div class="form-group">
					<label for="nome">Valor</label>
					<input type="text" class="form-control" ng-model="saborCtrl.sabor.price" id="valor" placeholder="Ex: 2.5">
				</div>

				<div class="btn btn-primary mt-20 pull-right" ng-click="saborCtrl.create();">Salvar</div>
			</form>
		</div>		
	</div>
</div>